body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: rgb(176, 29, 29);
}

header {
    background-color: #1855bd;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
}
.home-icon{
width: 60px; /* Adjust size as needed */
height: 60px; /* Adjust size as needed */
border-radius: 100%; /* Make the image circular */
position: absolute; /* Add this */
top: 20px; /* Adjust as needed */
right: 20px; /* Adjust as needed */
}